<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <base href="/">
  <title>DD-DeCaF</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="robots" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script src="https://www.googletagmanager.com/gtag/js?id=<%= process.env.GA_TRACKING_CODE %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '<%= process.env.GA_TRACKING_CODE %> ');
  </script>
</head>
<body ng-app="DecafApp" layout="column" ui-view></body>
</html>
